<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="dist/styles/common.css">
    <link href="dist/styles/index.css" rel="stylesheet">
</head>

<body>
    <div id="app" class="app" style="display:none">
        <div class="index-wrap clear" :class="[search?'index-wrap--content-hide':'']">
            <div class="header">
                <div class="logo">
                    <img src="dist/styles/images/logo.png" width="100%" alt="">
                </div>
                <div class="nav">
                    <a href="javascript:void(0)" class="solid ">首页</a>
                    <a href="javascript:void(0)">我的</a>
                    <a href="javascript:void(0)" class="circle-red">资讯</a>
                </div>
                <div class="search">
                    <input type="text" readonly name="" value="" @click="search = true" placeholder="输入服务名称">
                    <div class="btn1"></div>
                    <div class="btn2 circle-red2"></div>
                    <div class="btn0"></div>
                </div>
            </div>
            <div class="content clear">
                <div class="left">
                    <!--<div class="service">
                        <img src="dist/styles/images/service1.png">
                        <p>日程服务</p>
                    </div>-->
                    <div class="service">
                        <div class="service-img-container">
                            <img src="dist/styles/images/service2.png">
                        </div>
                        <p>人事服务</p>
                    </div>
                    <div class="service">
                        <div class="service-img-container">
                            <img src="dist/styles/images/service3.png">
                        </div>
                        <p>科研服务</p>
                    </div>
                    <div class="service">
                        <div class="service-img-container">
                            <img src="dist/styles/images/service4.png">
                        </div>
                        <p>财务服务</p>
                    </div>
                    <div class="service">
                        <div class="service-img-container">
                            <img src="dist/styles/images/service5.png">
                        </div>
                        <p>后勤服务</p>
                    </div>
                    <div class="service">
                        <div class="service-img-container">
                            <img src="dist/styles/images/service6.png">
                        </div>
                        <p>招生服务</p>
                    </div>
                    <div class="service">
                        <div class="service-img-container">
                            <img src="dist/styles/images/service7.png">
                        </div>
                        <p>教学服务</p>
                    </div>
                    <div class="service">
                        <div class="service-img-container">
                            <img src="dist/styles/images/service8.png">
                        </div>
                        <p>就业服务</p>
                    </div>
                    <div class="service">
                        <div class="service-img-container">
                            <img src="dist/styles/images/service9.png">
                        </div>
                        <p>网信服务</p>
                    </div>
                </div>
                <div class="main" id="main">
                    <p class="money">财务服务</p>
                    <div class="main-container mCustomScrollbar" data-mcs-theme="minimal" :style="mainContainerStyle">
                        <a v-for="service in services" class="action" href="javascript:void(0)">
                            <img :src="'dist/styles/images/' + service.icon" alt="">
                            <p>{{service.name}}</p>
                        </a>
                    </div>
                </div>
                <div class="right">
                    <div class="weather">
                        <div class="weather-1">
                            <img class="light" src="dist/styles/images/light.png" alt="">
                            <p class="temp">27°C</p>
                            <p class="pm">PM:33</p>
                        </div>
                        <div class="weather-2">
                            <span>北京  2017-01-02</span>
                            <span>11°C/2°C</span>
                        </div>
                    </div>
                    <div class="person">
                        <div class="person-floor1">
                            <img class="self" src="dist/styles/images/person.png">
                            <div class="name">
                                <p>张萌萌</p>
                                <p>hello 欢迎来到服务大厅</p>
                            </div>
                            <div class="person-btn">
                                <img src="dist/styles/images/person-btn2.png">
                                <img src="dist/styles/images/person-btn1.png">
                            </div>
                        </div>
                        <div class="person-floor2">
                            <p class="person-title">推荐应用</p>
                            <div class="person-floor2-container mCustomScrollbar" data-mcs-theme="minimal">
                                <div class="collection clear" v-for="app in apps">
                                    <div class="person2-btn-container">
                                        <img class="person2-btn" :src="'dist/styles/images/' + app.icon" alt="">
                                    </div>
                                    <p>{{ app.name }}</p>
                                    <div class="button-panel">
                                        <a href="javascript:;" class="button-enter"></a>
                                        <a href="javascript:;" class="button-mark"></a>
                                        <a href="javascript:;" class="button-share"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="app-panel">
                    <div>
                        <img class="footer-btn" src="dist/styles/images/footer-btn1.png">
                    </div>
                    <div>
                        <img class="footer-btn" src="dist/styles/images/footer-btn2.png">
                        <!--<i class="circle-white"></i>-->
                    </div>
                    <div>
                        <img class="footer-btn" src="dist/styles/images/footer-btn3.png">
                        <div class="alert">校内讲座审批</div>
                    </div>
                    <div>
                        <img class="footer-btn" src="dist/styles/images/footer-btn4.png">
                    </div>
                </div>
            </div>
        </div>
        <transition>
            <div class="search-warp" :class="[search?'search-warp--show':'']">
                <div class="search-close" @click="search = false"></div>
                <div class="search-bar">
                    <input type="text" placeholder="请输入服务名称…">
                </div>
                <div class="search-container">
                    <div class="search-header">
                        <div class="search-default-header">
                            <div class="history">
                                <span>请假申请<i></i></span>
                                <span>一卡通挂失<i></i></span>
                                <span>成绩查询<i></i></span>
                                <span>四六级考试<i></i></span>
                                <span>选修课订阅<i></i></span>
                            </div>
                            <h2>我的足迹</h2>
                        </div>
                        <div class="search-result-header">
                            <!--<ul>
                                <li><a href="javascript:;">全部</a></li>
                                <li><a href="javascript:;">学生服务</a></li>
                                <li><a href="javascript:;">教学服务</a></li>
                                <li><a href="javascript:;">科研服务</a></li>
                                <li><a href="javascript:;">人事服务</a></li>
                                <li><a href="javascript:;">财务服务</a></li>
                            </ul>-->
                        </div>
                    </div>
                    <div class="search-content" :style="mainSearchContentStyle"></div>
                </div>
            </div>
        </transition>
    </div>
    <script src="dist/scripts/common.js"></script>
    <script src="dist/scripts/index.js"></script>
</body>

</html>