@charset "UTF-8";
html {
  font-size: 12px;
}
i,
em {
  font-family: normal;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
}
input,
textarea {
  outline: none;
}
textarea {
  resize: none;
  overflow: hidden;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Microsoft YaHei", '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  margin: 0;
  padding: 0;
}
.clear {
  zoom: 1;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
html {
  height: 100%;
}
body {
  height: 100%;
  min-width: 1200px;
  overflow-x: auto;
}
.wrap {
  position: relative;
  width: 1920px;
  height: 974px;
  background: url("../../images/background.png") no-repeat;
}
.header {
  height: 100px;
  width: 1788px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.header .logo {
  width: 330px;
  height: 100%;
  background: url("../../images/logo.png") no-repeat center;
  float: left;
}
.header .nav {
  height: 100px;
  margin-left: 130px;
  float: left;
  position: relative;
}
.header .nav a {
  float: left;
  position: relative;
  color: #fff;
  width: 60px;
  height: 30px;
  margin-left: 20px;
  margin-top: 35px;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
}
.header .nav .solid {
  border-top: 3px solid #676767;
  border-bottom: 3px solid #676767;
}
.header .nav .circle-red:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #f00;
  position: absolute;
  top: 1px;
  right: 4px;
  border-radius: 50%;
}
.header .search {
  float: right;
  height: 100px;
  width: 360px;
}
.header .search input {
  width: 245px;
  height: 40px;
  background: rgba(38,38,38,0.5) url("../../images/search.png") no-repeat;
  background-position: 215px 12px;
  border-radius: 50px;
  border: none;
  color: #fff;
  padding-left: 20px;
  margin-top: 30px;
  position: relative;
  padding-right: 40px;
}
.header .search .btn1 {
  float: right;
  width: 40px;
  height: 100px;
  background: url("../../images/btn2.png") no-repeat center;
  margin-left: 15px;
  cursor: pointer;
  position: relative;
}
.header .search .btn2 {
  float: right;
  width: 40px;
  height: 100px;
  background: url("../../images/btn1.png") no-repeat center;
  cursor: pointer;
  position: relative;
}
.header .search .circle-red2:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #f00;
  position: absolute;
  top: 24px;
  right: 4px;
  border-radius: 50%;
}
.content {
  position: relative;
  width: 1788px;
  min-height: 780px;
  margin: 0 auto;
}
.left {
  width: 250px;
  min-height: 650px;
  position: absolute;
  left: 0;
  top: 0;
}
.left .service:nth-child(1),
.left .service:nth-child(2) {
  margin-top: 0;
}
.left .service {
  width: 120px;
  height: 120px;
  background: rgba(255,255,255,0.1);
  text-align: center;
  float: left;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 10px;
}
.left .service:hover {
  background: #0067b3;
}
.left .service:nth-child(even) {
  margin-left: 10px;
}
.left .service img {
  margin-top: 20px;
}
.left .service p {
  margin-top: 20px;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
}
.right {
  width: 300px;
  height: 650px;
  position: absolute;
  right: 0;
  top: 0;
}
.right .weather {
  min-height: 125px;
  position: relative;
}
.right .weather .weathcer-1 {
  height: 90px;
  background: rgba(255,255,255,0.1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.right .weather .weathcer-1 .light {
  position: absolute;
  top: -20px;
  left: 14px;
}
.right .weather .weathcer-1 .temp {
  font-size: 40px;
  color: #fff;
  text-align: right;
  padding: 10px 10px 0 0;
}
.right .weather .weathcer-1 .pm {
  color: #fff;
  text-align: right;
  padding: 5px 10px 0 0;
  color: #a09b98;
}
.right .weather .weathcer-2 {
  height: 35px;
  background: rgba(255,255,255,0.1);
  color: #fff;
  line-height: 35px;
  padding: 0 10px 0 14px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.right .weather .weathcer-2 span:nth-child(2) {
  float: right;
}
.right .person {
  margin-top: 10px;
}
.right .person .person-floor1 {
  height: 128px;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
}
.right .person .person-floor1 .self {
  float: left;
  width: 95px;
  height: 94px;
  margin-top: 17px;
  cursor: pointer;
  margin-left: 10px;
}
.right .person .person-floor1 .name {
  float: left;
  width: 195px;
  height: 70px;
  border-bottom: 1px solid #6a6a6a;
}
.right .person .person-floor1 .name p:nth-child(1) {
  font-size: 22px;
  color: #9cbfd2;
  padding: 10px 0 0 10px;
}
.right .person .person-floor1 .name p:nth-child(2) {
  color: #6a6a6a;
  padding: 10px 0 0 10px;
}
.right .person .person-floor1 .person-btn img {
  float: right;
  width: 40px;
  height: 40px;
  margin-top: 9px;
  cursor: pointer;
  margin-right: 10px;
}
.right .person .person-floor2 {
  height: 378px;
  margin-top: 10px;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  overflow: auto;
}
.right .person .person-floor2 .person-title {
  color: #fff;
  font-size: 14px;
  padding: 20px 0 0 20px;
}
.right .person .person-floor2 .collection {
  margin: 20px 0 0 20px;
}
.right .person .person-floor2 .collection .person2-btn {
  float: left;
}
.right .person .person-floor2 .collection>p {
  float: left;
  color: #fff;
  padding-left: 10px;
  line-height: 14px;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
}
.right .person .person-floor2 .collection .star {
  margin: 10px 0 0 10px;
  float: left;
}
.right .person .person-floor2 .collection>span {
  float: right;
  color: #737373;
  margin: 10px 5px 0 0;
}
.main {
  height: 650px;
  position: absolute;
  left: 270px;
  right: 320px;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  overflow: auto;
}
.main .money {
  font-size: 30px;
  color: #fff;
  padding-left: 30px;
  padding-top: 20px;
}
.main .action {
  float: left;
  width: 12.5%;
  height: 115px;
  margin-top: 30px;
  text-align: center;
}
.main .action img {
  border: none;
}
.main .action p {
  color: #a09b98;
  font-size: 12px;
  margin-top: 15px;
  overflow: hidden;
  white-space: nowrap;
}
.footer {
  width: 365px;
  height: 90px;
  border-radius: 90px;
  background: rgba(255,255,255,0.1);
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -182.5px;
}
.footer>div {
  width: 25%;
  text-align: center;
  height: 100%;
  float: left;
  position: relative;
}
.footer .circle-white {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  bottom: 3px;
  left: 40px;
}
.footer img {
  cursor: pointer;
  height: 64px;
  margin-top: 13px;
}
.footer .alert {
  position: absolute;
  width: 120px;
  height: 30px;
  top: -47px;
  left: -13px;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
  background: rgba(255,255,255,0.1);
  font-size: 14px;
  color: #fff;
}
.footer .alert:after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 53px;
  border: 8px solid transparent;
  border-top-color: rgba(255,255,255,0.1);
}
@media screen and (max-width: 1788px) {
  .wrap {
    width: 100%;
  }
  .header,
  .content {
    width: 1200px;
  }
  .main .action {
    width: 20%;
  }
}
