.side-enter-active, .side-leave-active
    right: 0 !important;
    transition: right .2s cubic-bezier(0.2,1,0.3,1) !important;
.side-enter, .side-leave-active
    right: toRem(-330) !important

.side-big-enter-active, .side-big-leave-active
    right: 0 !important;
    transition: right 5s cubic-bezier(0.2,1,0.3,1) !important;
.side-big-enter, .side-big-leave-actve
    right: toRem(-405) !important