.icon-find
    display:inline-block;
    width:toRem(20)
    height:toRem(20)
    background: url('./images/icon-find.png') no-repeat center;
    background-size: contain; 
.icon-recommend
    display:inline-block;
    width:toRem(20)
    height:toRem(20)
    background: url('./images/icon-recommend.png') no-repeat center
    background-size: contain; 
.active
    .icon-find
        background: url('./images/icon-find-active.png') no-repeat center;   
        background-size: contain; 
    .icon-recommend
        background: url('./images/icon-recommend-active.png') no-repeat center;
        background-size: contain;     