.icon-find
    display:inline-block;
    width:toRem(20)
    height:toRem(20)
    background: url('./images/icon-find.png') no-repeat center;
.icon-recommend
    display:inline-block;
    width:toRem(20)
    height:toRem(20)
    background: url('./images/icon-recommend.png') no-repeat center;    
.active
    .icon-find
        background: url('./images/icon-find-active.png') no-repeat center;    
    .icon-recommend
        background: url('./images/icon-recommend-active.png') no-repeat center;       