@import '../var';
$panelBackground = rgba(255,255,255,.1)
html
    height: 100%
    font-size: unit( $baseFontSize ,'px')
    *
        font-size: toRem(12);
body
    height: 100%
    &>.app
        height: 100%;
.search-warp
    position: absolute;
    width: 100%;
    z-index: -10;
    .search-close
        position: absolute
        right: toRem(33)
        top: toRem(33)
        width: toRem(30)
        height: toRem(30)
        background: url('images/search-close.png') center no-repeat;
        background-size: contain;
    .search-bar
        height: toRem(160)
        margin-top: toRem(-160)
        padding-top: 1px;
        opacity: 0
        input
            display: block;
            padding: 0;
            border: none;
            border-bottom: toRem(2) solid rgba(255,255,255,.5)
            background: none;
            color: white;
            height: toRem(100)
            font-size: toRem(30)
            width: toRem(1160);
            margin:toRem(60) auto 0 auto;
    .search-container
        width: toRem(1160);
        position: absolute
        top: toRem(300)
        left: 50%
        margin-left: toRem(-580)
        opacity: 0
    .search-header
        display: inline-block;
        height: toRem(120);
        width: 100%;
    .search-default-header
        .history
            padding-top: toRem(10)
            height: toRem(82)
            span
                margin-right: toRem(5)
                height: toRem(26)
                display: inline-block;
                padding: 0 toRem(6) 0 toRem(12)
                line-height: toRem(26)
                background: rgba(255,255,255,.2)
                border-radius: 13px;
                color: #bcbcbc;
        h2
            font-size: toRem(20)
            line-height: toRem(38);
            color:white;
            font-weight: normal;
    .search-bar,.search-container
        transition: margin-top .2s cubic-bezier(0.2,1,0.3,1),opacity .2s cubic-bezier(0.2,1,0.3,1)
    .search-container
        transition: top .2s cubic-bezier(0.2,1,0.3,1);
    &.search-warp--show
        z-index: 10
        .search-bar
            margin-top: 0
            opacity: 1
        .search-container
            top: toRem(160)
            opacity: 1
.index-wrap
    position: absolute;
    height: 100%;
    width: 100%;
    .header
        height: toRem(100)
        position: relative
        z-index: 1;
        padding: 0 toRem(20);
        .logo
            width: toRem(330)
            height: toRem(100)
            line-height: toRem(100)
            float: left
            img
                vertical-align: middle;
        .nav
            height: toRem(100)
            line-height: toRem(100)
            margin-left: toRem(130)
            float: left
            font-size: 0px;
            a 
                display: inline-block;
                vertical-align: middle;
                color: white
                width: toRem(75)
                height: toRem(30)
                margin: 0 toRem(30);
                text-align: center
                line-height: toRem(24)
                font-size: toRem(16)
                position: relative;
                box-sizing: content-box;
                line-height: toRem(30)
            .solid
                border-top: toRem(2) solid rgb(103,103,103)
                border-bottom: toRem(2) solid rgb(103,103,103)
            .circle-red
                &:after
                    content:""
                    width: toRem(10)
                    height: toRem(10)
                    background: red
                    position: absolute
                    top: toRem(1)
                    right: toRem(4)
                    border-radius: 50%
        .search
            float: right
            height: toRem(100)
            font-size: 0;
            line-height: toRem(100)
            input
                width: toRem(245)
                height: toRem(40)
                background: rgba(255,255,255,.2) url("./images/search.png") no-repeat
                background-position: toRem(215) toRem(12)
                background-size: toRem(16)
                border-radius: toRem(50)
                border:none
                color: white
                padding-left: toRem(20)
                padding-right: toRem(40)
                vertical-align: middle;
            .btn0,.btn1,.btn2
                float: right
                width: toRem(40)
                height: toRem(100)
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer
                position: relative
                margin-left: toRem(15)
            .btn0
                background-image: url("./images/btn0.png")
            .btn1
                background-image: url("./images/btn2.png")
            .btn2
                background-image: url("./images/btn1.png")
            .circle-red2
                &:after
                    content:""
                    width: toRem(10)
                    height: toRem(10)
                    background: red
                    position: absolute
                    top: toRem(24)
                    right: toRem(4)
                    border-radius: 50%

                
    .content
        position: relative
        height: auto;
        min-height: 100%;
        margin-top: toRem(-100);
        padding: toRem(120) toRem(20) 0 toRem(20);
        margin-bottom: toRem(-100);
        background: url("./images/background.png") no-repeat
        background-size: cover;
        &:after
            content: '';
            display: block;
            width: 100%;
            height: toRem(175);
    .left
        width: toRem(250)
        min-height: toRem(650)
        position: absolute
        left: toRem(20)
        top: toRem(120)
        .service:nth-child(1),
        .service:nth-child(2)
            margin-top: 0
        .service
            width: toRem(120)
            height: toRem(120)
            background: $panelBackground
            text-align: center
            float: left
            margin-top: toRem(10)
            cursor: pointer
            border-radius: toRem(10)
            &:hover
                background: rgb(0,103,179)
            &:nth-child(even)
                margin-left: toRem(10)
            .service-img-container
                height: toRem(50)
                width: toRem(100);
                line-height: toRem(50);
                margin: toRem(20) auto 0 auto;
                img
                    height: 100%
            p 
                margin-top: toRem(20)
                color: rgb(255,255,255,.6)
                font-size: toRem(16)
                overflow: hidden
                white-space: nowrap
    .right
        width: toRem(300)
        height: toRem(650)
        position: absolute
        right: toRem(20);
        top: toRem(120)
        .weather
            min-height: toRem(125)
            position: relative
            .weather-1
                height: toRem(90)
                background: $panelBackground
                border-top-left-radius: toRem(10)
                border-top-right-radius: toRem(10)
                .light
                    position: absolute
                    top: toRem(-20)
                    left: toRem(14);
                    width: toRem(93);
                .temp
                    font-size: toRem(40)
                    color: white
                    text-align:right
                    padding: toRem(10) toRem(10) 0 0
                .pm
                    color: white
                    text-align: right
                    padding:toRem(5) toRem(10) 0 0
                    color: rgb(160,155,152)
            .weather-2
                height:toRem(35)
                background: rgba(255,255,255,.2)
                color: white
                line-height: toRem(35)
                padding: 0  toRem(10) 0 toRem(14)
                border-bottom-left-radius: toRem(10)
                border-bottom-right-radius: toRem(10)
                span:nth-child(2)
                    float: right
        .person
            margin-top:toRem(10)
            .person-floor1
                height: toRem(128)
                background: $panelBackground
                border-radius: toRem(10)
                overflow: hidden;
                .self
                    float: left;
                    width: toRem(95)
                    height: toRem(94)
                    margin-top: toRem(17)
                    cursor: pointer
                    margin-left: toRem(10)
                .name
                    float: left
                    width: toRem(195)
                    height: toRem(70)
                    border-bottom: toRem(1) solid rgb(106,106,106)
                    p:nth-child(1)
                        font-size: toRem(22)
                        color: rgb(156,191,210)
                        padding: toRem(10) 0 0 toRem(10)
                    p:nth-child(2)
                        color: rgb(106,106,106)
                        padding: toRem(10) 0 0 toRem(10)
                        overflow: hidden
                        text-overflow: ellipsis;
                        white-space: nowrap;
                .person-btn
                    img
                        float: right
                        width: toRem(40)
                        height: toRem(40)
                        margin-top: toRem(9)
                        cursor: pointer
                        margin-right: toRem(10)
            .person-floor2
                height: toRem(378)
                margin-top: toRem(10)
                background: $panelBackground
                border-radius: toRem(10)
                overflow: hidden
                .person-title
                    color: white
                    font-size: toRem(17)
                    margin-top: toRem(19)
                    margin-bottom:toRem(3)
                    padding-left: toRem(20)
                .person-floor2-container
                    height:toRem(329)
                .collection
                    margin: toRem(16) toRem(20) 0 toRem(20)
                    border-bottom: 1px solid rgba(255,255,255,.1);
                    padding-bottom: toRem(10)
                    height: toRem(61);
                    overflow: hidden;
                    position: relative;
                    .person2-btn-container
                        width: toRem(60)
                        height: toRem(50)
                        line-height: toRem(50)
                        text-align: left;
                        position: absolute;
                        img
                            vertical-align: top;
                            height: 100%
                    &>p 
                        margin-left: toRem(60)
                        float: left
                        color: white
                        width: toRem(195)
                        padding-left: toRem(10)
                        margin-top: toRem(18)
                        transition: margin-top .1s ease-out,font-size .1s  ease-out;
                        line-height: 1
                        font-size: toRem(13)
                        overflow: hidden
                        white-space: nowrap
                        text-overflow: ellipsis;
                    .button-panel
                        opacity: 0;
                        transition: opacity .1s ease-out;
                        padding-top: toRem(5)
                        float:left
                        margin-left toRem(70)
                    .button-enter,
                    .button-mark,
                    .button-share
                        margin-right: toRem(5)
                        height: toRem(10)
                        width: toRem(11)
                        display: inline-block;
                        background-size: contain
                        background-position: center
                        background-repeat: no-repeat
                    .button-enter
                        background-image: url(images/icon-enter.png)
                    .button-mark
                        background-image: url(images/icon-mark.png)
                    .button-share
                        background-image: url(images/icon-share.png)
                    &:hover
                        &>p
                            font-size: toRem(16)
                            margin-top: toRem(7)
                        .button-panel
                            opacity: 1
    .main
        min-height: toRem(512);
        margin-left: toRem(270)
        margin-right: toRem(320)
        background: $panelBackground
        border-radius: toRem(10)
        padding-bottom: toRem(17);
        overflow: auto
        .main-container
            overflow: hidden;
        .money
            font-size: toRem(28)
            color: white
            padding-left: toRem(30)
            margin-top: toRem(30)
            line-height: 1;
        .action
            float: left
            width: 11.1%
            height: toRem(115)
            margin-top: toRem(30)
            text-align: center
            img 
                border: none
                width: toRem(64);
            p 
                color: rgb(160,155,152)
                font-size: toRem(14)
                margin-top: toRem(15)
                overflow: hidden
                white-space: nowrap
                text-overflow:ellipsis;
    .footer
        width: 100%;
        height: toRem(90)
        text-align: center;
        position: relative;
        .app-panel
            font-size: toRem(0);
            display: inline-block;
            vertical-align: top;
            min-width: toRem(100)
            height: toRem(90)
            border-radius: toRem(90)
            background: rgba(255,255,255,.1)
            padding: 0 toRem(10)
            white-space nowrap
            &>div
                margin: 0 toRem(10);
                text-align: center
                height: 100%
                display: inline-block;
                vertical-align: top;
                position: relative
            .circle-white
                position: absolute
                width: toRem(5);
                height: toRem(5);
                background: #ffffff;
                border-radius: 50%;
                bottom: toRem(3)
                left: toRem(40)
            img 
                cursor: pointer
                height: toRem(64)
                margin-top: toRem(13)
            .alert
                position: absolute
                width: toRem(120)
                height: toRem(30)
                top: toRem(-47)
                left: toRem(-30)
                text-align: center
                line-height: toRem(30)
                border-radius: toRem(3)
                background: rgba(255,255,255,.1)
                font-size: toRem(14)
                color: white
            .alert:after
                content: ""
                position: absolute
                bottom: toRem(-16)
                left: toRem(53)
                border: toRem(8) solid transparent 
                border-top-color: rgba(255,255,255,.1)
    .header,.content .left,.content .right,.content .main
        transition: opacity .5s cubic-bezier(0.2,1,0.3,1)
    &.index-wrap--content-hide
        .header
            opacity: 0
        .content
            .left,
            .right,
            .main
                opacity: 0

@import 'mycenter';