@import './var';

// global
$baseFontColor = rgb(99, 101, 103);
$baseFontHoverColor = rgb(255, 255, 255);
$baseTitleColor = rgb(0, 103, 179);
$backgroundImage = './images/background-white.jpg';
$panelBackground = rgba(0, 0, 0, 0.1);
$iconMarkImage = './images/icon-mark-white.png';
$iconEnterImage = './images/icon-enter-white.png';
$iconShareImage = './images/icon-share-white.png';
// header
$navActionFontColor = rgb(0, 103, 179);
$navActionColor = rgb(0, 103, 179);
$navSearchIconImage = './images/search-white.png';
$navThemeIconImage = './images/btn0-white.png';
$navMessageIconImage = './images/btn1-white.png';
$navCloseIconImage = './images/btn2-white.png';
// search
$searchBottomBorderColor = #98a9b2;
$searchPanelIconImage = './images/search-icon-white.png';
$searchSmallCloseIconImage = './images/icon-close-small-white.png';
// sider bar
$siderBarShaddow = rgba(0, 0, 0, 0.1);
//my-center left
$centerLeftTitleColor = #89a3d4;
$centerLeftNavColor = #0090ff;
$centerLeftFindIconActionImage = './images/icon-find-white-active.png';
$centerLeftRecommendIconActionImage = './images/icon-recommend-white-active.png';
//my-center right
$centerRightPanelNavFontColor = #0067b3;
$centerRightPanelLineColor = rgba(255,255,255, 0.09);
//my-center calendar
$centerCalendarHeaderColor = rgba(239, 132, 92, 0.6);
$centerCalendarDayColor = rgba(0, 0, 0, .2);
$centerCalendarOtherMonthColor = rgba(0, 0, 0, .1);
//news
$newsNavHoverColor = #0067b3
$newsButtonBackgroundColor = rgba(0, 0, 0, 0.2)
$newsItemPColor = #898989