@import './var';

// global
$baseFontColor = rgb(255, 255, 255);
$baseFontHoverColor = rgb(255, 255, 255);
$baseTitleColor = rgb(156, 191, 210);
$backgroundImage = './images/background.png';
$panelBackground = rgba(255, 255, 255, 0.1);
$iconMarkImage = './images/icon-mark.png';
$iconEnterImage = './images/icon-enter.png';
$iconShareImage = './images/icon-share.png';
// header
$navActionFontColor = rgb(255, 255, 255);
$navActionColor = rgb(103, 103, 103);
$navSearchIconImage = './images/search.png';
$navThemeIconImage = './images/btn0.png';
$navMessageIconImage = './images/btn1.png';
$navCloseIconImage = './images/btn2.png';
// search
$searchBottomBorderColor = rgba(255,255,255,.5);
$searchPanelIconImage = './images/search-icon.png';
$searchSmallCloseIconImage = './images/icon-close-small-white.png';
// sider bar
$siderBarShaddow = rgba(0, 0, 0, 0.5);
//my-center left
$centerLeftTitleColor = #b5d6e8;
$centerLeftNavColor = #ef845c;
$centerLeftFindIconActionImage = './images/icon-find-active.png';
$centerLeftRecommendIconActionImage = './images/icon-recommend-active.png';
//my-center right
$centerRightPanelNavFontColor = #92d6ff;
$centerRightPanelLineColor = rgba(255,255,255, 0.5);
//my-center calendar
$centerCalendarHeaderColor = rgba(83, 56, 44, .8);
$centerCalendarDayColor = rgba(255, 255, 255, .1);
$centerCalendarOtherMonthColor = transparent;
//news
$newsNavHoverColor = #ec6d45
$newsButtonBackgroundColor = rgba(255, 255, 255, 0.75)
$newsItemPColor = #b6b6b6